@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Protest+Strike&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

@keyframes fadeIn {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  @layer base{
    html {
      scroll-behavior: smooth;
    }
  }

  ::-webkit-scrollbar{
    display: none;
  }

  /* h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', 'Segoe UI', sans-serif;
    font-weight: bold;
    color: #1a202c;
    margin-bottom: 0.5em;
  }
  
  p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #4a5568;
    margin-bottom: 1em;
  }
  
  a {
    color: #3182ce;
    text-decoration: underline;
    transition: color 0.3s;
  }
  a:hover {
    color: #2b6cb0;
  }
  
  ul, ol {
    padding-left: 2rem;
    margin-bottom: 1em;
  }
  
  li {
    margin-bottom: 0.5em;
    font-size: 1rem;
    color: #555;
  }
  
  blockquote {
    border-left: 4px solid #4299e1;
    padding-left: 1em;
    color: #2d3748;
    font-style: italic;
    margin: 1em 0;
  }
  
  strong {
    color: #2c5282;
  }
  
  em {
    font-style: italic;
  }
   */
